<body>
    <div class="bg">
    <div class="container">
        <div class="header text-center">
            <h2><b>Contact Us</b></h2><br>
            <h5><b>For e-Ticketing/Refund Related Queries</b></h5>
            <h6><b> E-Mail :</b>online.support@srtconline.in</h6>
<br>
<h5><b>For Other Queries</b></h5>
<h6><b> E-Mail :</b> customercare@srtconline.in</h6>
<h6><b> Phone No :</b> 0866 2570005</h6>
<br>
            <h6><a href="/homepage"><button class="btn btn-success">Click Here</button></a> to go to homepage.</h6>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
       <br>
       <br>
  
    </div>
  </div>
  </body>